@import "./mixin/reset";
@import "./mixin/scroll-lock";
@import "./mixin/variable";
@import "./components/App/navbar";
@import "./components/App/nav-drawer";
@import "./components/shared/loading-circle";
@include reset;
@include scroll-lock;

body,
html {
  height: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
}

#app {
  position: relative;
  height: 100%;
  padding-top: $navbar-height;
  @include navbar;
  @include nav-drawer;
  @include loading-circle;
}
